* {
  /* border: 1px solid blue; */
}

video {
  width: 100vw;
  max-width: 520px;
}


.file-input {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.camera-input {
  display: flex;
  flex-direction: column;
  align-items: center;

}